*{
    margin: 0;
    padding: 0;
}

:root{
    --widht: 560px; /*630 490 */
    /* --heigth: 560px; */
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(./sport-blue-ball-poster.jpg);    */
    /* background-image: url(./sport.jpg); */
    background-image: url(./img/ee66bf512ebff05c91c83c9d77ab09b5.jpg);
    background-size: cover;
}

.title{
    color: firebrick;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    margin: 1%;
}

.fas{
    padding: 2%;
}

.nav-top{   
    width: 560px;
    justify-content: space-between;
}

.nav-top-text{
    display: flex;
    width: 50%;
}

.nav-top-text-puntos{
    margin-left: 20px;
}
.nav-top-icon{
    width: 10%;
}
.timer{
    width: 100px;
    justify-content: space-evenly;
}
.box{
    border: 1px solid black;
    border-radius: 10px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    height: 35px;    
}


/*Grilla */

.grid{
    height: var(--widht);
    width: var(--widht);
    display: flex;
    flex-wrap: wrap;
    background-color: thistle; 
    border: solid 10px #fff;
    border-radius: 5%;
    filter: opacity(80%);
    margin: 1%;
}

.grid div{
    height: 70px;
    width: 70px;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid div:hover{
    background-color: red;
}

.grid div:active{
    background-color: blue;
}



/* emoji*/

  img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    filter: drop-shadow(2px 2px 2px);
 }


 /*Modales*/
.swal-title {
    margin: 0px;
    font-size: 34px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
}

.swal-text {
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    color: rebeccapurple;
    font-size: 25px;
}

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}